SANDBOX_API_URL=http://localhost:8000
OPENAI_API_KEY="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"
